* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 50px 0;
  font-size: 20px;
}

button{
  display: block;
}

input {
  width: 500px;
  padding: 10px;
  display: block;
  margin: 0 auto 10px;
}

img{
  margin-right:10px;
  width: 40px;
  height: 40px;
}

textarea {
  width: 430px;
  padding: 10px;
  margin: 0 1px 10px 0;
  display: block;
  resize: none;
  float: left;
  overflow-y: hidden;
}

/* index.html用 */

.input-img-file{
  padding-bottom: 40px;
}

.textarea-container {
  text-align: center;
  margin: auto;
  padding: 0 0 0 0;
  width: 500px; /* 원하는 폭으로 조정하세요 */
}

.send-button {
  width: 69px;
  height: 35px;
  margin: 0 0 0 0;
  font-size: 16px;
  border-radius: 5px;
}

#output {
  width: 500px;
  display: block;
  height: 500px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin: 0 auto;
  padding: 10px;
  overflow: scroll;
}

#output > li {
  margin: 15px; /* 열 간의 간격을 설정 */
  box-sizing: border-box;
}

/* 각 정보의 스타일을 조절할 수 있는 클래스 추가 */
.uname, .date, .text {
  margin: 0;
  padding: 5px;
}

/* login.html,join.html 用 */

.btn{
  height: 40px;
  display: inline-block;
  vertical-align: top;
}

.jo-4{
  text-align: center;
}

.li-4{
  text-align: center;
}
