* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 50px 0;
  font-size: 20px;
}

input {
  width: 500px;
  padding: 10px;
  display: block;
  margin: 0 auto 50px;
}

textarea {
  width: 430px;
  height: auto;
  padding: 10px;
  margin: 0 5px 0 0;
  display: block;
  resize: none;
  float: left;
}

.textarea {
  text-align: center;
  margin: auto;
  padding: 0 0 0 0;
  width: 500px; /* 원하는 폭으로 조정하세요 */
}

button {
  width: 65px;
  height: 40px;
  margin: 0 0 0 0%;
  display: block;
  font-size: 16px;
}

#output {
  
  width: 500px;
  display: block;
  height: 500px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin: 0 auto;
  border-radius: 8px;
  padding: 10px;
  overflow: scroll;
}